
### SECRETS ###
.env
secrets.yaml
credentials.json
build/

### DEV ###
data/

### HELM ###
kubernetes/charts/**/charts/*.tgz

### NODE ###
node_modules/
yarn-error.log
coverage/
dist/
spark/project/project/


### SCALA ###
metals.sbt
.metals/
.bloop/
.bsp/


### JAVA ###
.classpath
.project
target/
.settings/
.factorypath
